{
  "databases": {
    "optimce-crm": {
      "url_env": "OPTIMCE_CRM_DATABASE_URL",
      "ssl": false
    },
    "allocation-key": {
      "url_env": "OPTIMCE_ALLOCATION_KEY_DATABASE_URL",
      "ssl": false
    },
    "simulation-key": {
      "url_env": "OPTIMCE_SIMULATION_KEY_DATABASE_URL",
      "ssl": false
    },
    "news-board": {
      "url_env": "OPTIMCE_NEWS_BOARD_DATABASE_URL",
      "ssl": false
    },
    "billing": {
      "url_env": "OPTIMCE_BILLING_DATABASE_URL",
      "ssl": false
    },
    "administrative-document": {
      "url_env": "OPTIMCE_ADMINISTRATIVE_DOCUMENT_DATABASE_URL",
      "ssl": false
    }
  }
}
